In [1]:
import pandas as pd

In [2]:
training = pd.read_csv('train.csv')

In [3]:
testing = pd.read_csv('test.csv')

### handling training and testing dataset missing values

for numerical data

In [4]:
train_numerical = [feature for feature in training.columns if training[feature].dtypes != 'O']

In [5]:
test_numerical = [feature for feature in testing.columns if testing[feature].dtypes != 'O']

In [6]:
training[train_numerical].isnull().any().sum()

3

In [7]:
testing[test_numerical].isnull().any().sum()

11

In [8]:
training[train_numerical] = training[train_numerical].fillna(training[train_numerical].median())

In [9]:
testing[test_numerical] = testing[test_numerical].fillna(testing[test_numerical].median())

In [10]:
training[train_numerical].isnull().any().sum()

0

In [11]:
testing[test_numerical].isnull().any().sum()

0

For categorical data

In [12]:
test_categorical = [feature for feature in testing.columns if testing[feature].dtypes == 'O']

In [13]:
test_categorical

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [14]:
testing[test_categorical].isnull().any().sum()

22

In [15]:
testing[test_categorical] = testing[test_categorical].fillna('Missing')

In [16]:
testing[test_categorical].isnull().any().sum()

0

In [17]:
train_categorical = [feature for feature in training.columns if training[feature].dtypes == 'O']

In [18]:
train_categorical

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [19]:
training[train_categorical].isnull().any().sum()

16

In [20]:
training[train_categorical] = training[train_categorical].fillna('Missing')

In [21]:
training[train_categorical].isnull().any().sum()

0

### perform get dummies

#### For train dataset

In [42]:
x_training = training[['MSZoning', 'LotShape', 'Condition1', 'BldgType', 'OverallQual', 'YearBuilt', 'YearRemodAdd', 'ExterQual', 'BsmtFinType1', 'HeatingQC', 'CentralAir', '1stFlrSF', 'GrLivArea', 'BsmtFullBath', 'FullBath', 'KitchenQual', 'Functional', 'Fireplaces', 'GarageType', 'GarageFinish', 'GarageCars', 'GarageCond', 'PavedDrive','SalePrice']]

In [43]:
x_training.head()

,MSZoning,LotShape,Condition1,BldgType,OverallQual,YearBuilt,YearRemodAdd,ExterQual,BsmtFinType1,HeatingQC,...,FullBath,KitchenQual,Functional,Fireplaces,GarageType,GarageFinish,GarageCars,GarageCond,PavedDrive,SalePrice
0,RL,Reg,Norm,1Fam,7,2003,2003,Gd,GLQ,Ex,...,2,Gd,Typ,0,Attchd,RFn,2,TA,Y,208500
1,RL,Reg,Feedr,1Fam,6,1976,1976,TA,ALQ,Ex,...,2,TA,Typ,1,Attchd,RFn,2,TA,Y,181500
2,RL,IR1,Norm,1Fam,7,2001,2002,Gd,GLQ,Ex,...,2,Gd,Typ,1,Attchd,RFn,2,TA,Y,223500
3,RL,IR1,Norm,1Fam,7,1915,1970,TA,ALQ,Gd,...,1,Gd,Typ,1,Detchd,Unf,3,TA,Y,140000
4,RL,IR1,Norm,1Fam,8,2000,2000,Gd,GLQ,Ex,...,2,Gd,Typ,1,Attchd,RFn,3,TA,Y,250000

In [44]:
x_t = [feature for feature in x_training.columns if feature in train_categorical]

In [46]:
x_t

['MSZoning',
 'LotShape',
 'Condition1',
 'BldgType',
 'ExterQual',
 'BsmtFinType1',
 'HeatingQC',
 'CentralAir',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageCond',
 'PavedDrive']

In [53]:
dummies_x = pd.get_dummies(x_t, drop_first=True)

In [54]:
dummies_x

,BsmtFinType1,CentralAir,Condition1,ExterQual,Functional,GarageCond,GarageFinish,GarageType,HeatingQC,KitchenQual,LotShape,MSZoning,PavedDrive
0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,0,0,0
9,0,0,0,0,1,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,0,0,0
11,0,0,0,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,1

In [57]:
x_training = x_training.drop([feature for feature in x_t], axis=1)

In [60]:
x_training = pd.concat([x_training, dummies_x], axis=1)

In [72]:
x_training.head()

,OverallQual,YearBuilt,YearRemodAdd,1stFlrSF,GrLivArea,BsmtFullBath,FullBath,Fireplaces,GarageCars,SalePrice,...,ExterQual,Functional,GarageCond,GarageFinish,GarageType,HeatingQC,KitchenQual,LotShape,MSZoning,PavedDrive
0,7,2003,2003,856,1710,1,2,0,2,208500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,6,1976,1976,1262,1262,0,2,1,2,181500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,7,2001,2002,920,1786,1,2,1,2,223500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,1915,1970,961,1717,1,1,1,3,140000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8,2000,2000,1145,2198,1,2,1,3,250000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### for test dataset

In [64]:
y_testing = testing[['MSZoning', 'LotShape', 'Condition1', 'BldgType', 'OverallQual', 'YearBuilt', 'YearRemodAdd', 'ExterQual', 'BsmtFinType1', 'HeatingQC', 'CentralAir', '1stFlrSF', 'GrLivArea', 'BsmtFullBath', 'FullBath', 'KitchenQual', 'Functional', 'Fireplaces', 'GarageType', 'GarageFinish', 'GarageCars', 'GarageCond', 'PavedDrive']]

In [66]:
y_t = [feature for feature in y_testing.columns if feature in test_categorical]

In [67]:
dummies_y = pd.get_dummies(y_t, drop_first=True)

In [68]:
y_testing = y_testing.drop([feature for feature in y_t], axis=1)

In [69]:
y_testing = pd.concat([y_testing, dummies_y], axis=1)

In [71]:
y_testing.head()

,OverallQual,YearBuilt,YearRemodAdd,1stFlrSF,GrLivArea,BsmtFullBath,FullBath,Fireplaces,GarageCars,BsmtFinType1,...,ExterQual,Functional,GarageCond,GarageFinish,GarageType,HeatingQC,KitchenQual,LotShape,MSZoning,PavedDrive
0,5,1961,1961,896,896,0.0,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,6,1958,1958,1329,1329,0.0,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,5,1997,1998,928,1629,0.0,2,1,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,1998,1998,926,1604,0.0,2,1,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8,1992,1992,1280,1280,0.0,2,0,2.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### feature selection
We will use below mentioned columns for training our model

['MSZoning', 'LotShape', 'Condition1', 'BldgType', 'OverallQual',
       'YearBuilt', 'YearRemodAdd', 'ExterQual', 'BsmtFinType1', 'HeatingQC',
       'CentralAir', '1stFlrSF', 'GrLivArea', 'BsmtFullBath', 'FullBath',
       'KitchenQual', 'Functional', 'Fireplaces', 'GarageType', 'GarageFinish',
       'GarageCars', 'GarageCond', 'PavedDrive']
       
and ['SalePrice'] column as target feature

x_train = training[['MSZoning', 'LotShape', 'Condition1', 'BldgType', 'OverallQual', 'YearBuilt', 'YearRemodAdd', 'ExterQual', 'BsmtFinType1', 'HeatingQC', 'CentralAir', '1stFlrSF', 'GrLivArea', 'BsmtFullBath', 'FullBath', 'KitchenQual', 'Functional', 'Fireplaces', 'GarageType', 'GarageFinish', 'GarageCars', 'GarageCond', 'PavedDrive']]

In [ ]:
x = x_training.drop('SalePrice')
y = x_training['SalePrice']
model_1 = LinearRegression()
model_1.fit(x, y)

In [74]:


from sklearn.linear_model import LinearRegression()

SyntaxError: invalid syntax (<ipython-input-74-6bde6b2e824e>, line 1)