In [1]:
# importing necessary library

import pandas as pd

In [2]:
# Loading data

df = pd.read_csv('CSV file - DA Assignment (3).csv')

In [3]:
df.columns

Index(['order_id', 'user_id', 'team_leader', 'processing_at'], dtype='object')

In [4]:
# converting processing_at columnn to date format

df['processing_at'] = pd.to_datetime(df['processing_at'])

In [5]:
# Extracing month from date

df['month'] = df['processing_at'].dt.month

# sorting by dates

df.sort_values('processing_at', inplace=True)

In [6]:
df.head()

,order_id,user_id,team_leader,processing_at,month
48611,26979,120351,27ed872a-7fd4-44c2-8538-a5077017f1e4,2020-03-01,3
48176,26973,98827,27ed872a-7fd4-44c2-8538-a5077017f1e4,2020-03-01,3
47588,26939,95614,7ea97cf5-8a30-4598-ac56-7978269e46a1,2020-03-01,3
48175,26971,99337,27ed872a-7fd4-44c2-8538-a5077017f1e4,2020-03-01,3
48230,26964,99336,27ed872a-7fd4-44c2-8538-a5077017f1e4,2020-03-01,3

In [7]:
df.columns.isnull()

array([False, False, False, False, False])

In [9]:
df.month.unique()

array([3, 4, 5, 6, 7, 8])

## 1. Customers who ordered: Number of customers who ordered in the month of July

### Result

In [13]:
df[df['month']==7]['user_id']

7677     129126
7337     106622
5324     120207
6897     135012
5280     122063
          ...
56887    152397
59134    103689
56886    114230
56884    141204
55048    130338
Name: user_id, Length: 18762, dtype: int64

In [12]:
x = list(df[df['month']==7]['user_id'].unique())
len(x)

6693

In [8]:
print('No.of customers who ordered in the month of july: ',df[df['month']==7]['user_id'].nunique())

No.of customers who ordered in the month of july:  6693

In [9]:
print('Top 5 customers \n')
print('user_id - No. of orders')
print(df[df['month']==7]['user_id'].value_counts().nlargest(5))

Top 5 customers

user_id - No. of orders
114621    70
137164    55
98349     49
128753    46
114746    45
Name: user_id, dtype: int64

## 2. Acquired customers: Number of customers who ordered in July for the first time, i.e. they did not place an order before July

In [10]:
lst = []
for i in list(df[df['month']==7]['user_id'].unique()):
    if i not in list(df[df['month']!=7]['user_id'].unique()):
        lst.append(i)

### Result

In [11]:
print('No.of Acquired customers ordered first time in July: ',len(lst))

No.of Acquired customers ordered first time in July:  3341

## 3. Resurrected customers: Number of customers who ordered in July, but did not place an order in June, but had placed orders before June

In [12]:
lst_1 = []
for i in list(df[(df['month']==7) | (df['month']<6)].user_id.unique()):
    if i not in list(df[df['month']==6]['user_id'].unique()):
        lst_1.append(i)

### Result

In [13]:
print('No.of Resurrected customers ordered in July and before june(not in June): ',len(lst_1))

No.of Resurrected customers ordered in July and before june(not in June):  7312

## 4. Churned customers: Number of customers who had ordered in June but did not order in July.

In [14]:
lst_2 = []
for i in list(df[df['month']==6].user_id.unique()):
    if i not in list(df[df['month']==7]['user_id'].unique()):
        lst_2.append(i)

### Result

In [15]:
print('No.of Churned customers ordered in June but did not order in July: ',len(lst_2))

No.of Churned customers ordered in June but did not order in July:  3378

## 5. First order date in July: List of customers with their first order date in July month (not lifetime first order), who has already ordered in June.

In [26]:
x = df[(df['month']==7) | (df['month']==6)].reset_index(drop=True)

# x.head()

In [27]:
v= x.groupby([ 'user_id', 'month'])[['processing_at', 'order_id']].transform('first').add_prefix('First_')

In [29]:
x = pd.concat([x, v], axis=1)

# x.sample(20)

In [18]:
lst_user = []
lst_date = []

for i in list(x[x['month']==7].user_id.unique()):
    if i in list(x[x['month']==6]['user_id'].unique()):
        lst_user.append(i)

for i in lst_user:
    lst_date.append(x[(x['month']==7) & (x['user_id']==i) ]['First_processing_at'].unique())
    
len(lst_user), len(lst_date)

(1835, 1835)

In [19]:
user = pd.DataFrame(lst_user, columns=['user'])

date = pd.DataFrame(lst_date, columns=['date_of_first_order_in_July'])

data = pd.concat([user, date], axis=1)

### Result

In [21]:
data.sample(15)

        user date_of_first_order_in_July
1771  129660                  2020-07-28
501   119174                  2020-07-03
512   127538                  2020-07-03
934   131552                  2020-07-08
147   114666                  2020-07-01
1542  118138                  2020-07-19
681   104836                  2020-07-05
510   110854                  2020-07-03
685   121687                  2020-07-05
1803  102769                  2020-07-30
713   126319                  2020-07-05
1045  109263                  2020-07-10
1634  123270                  2020-07-22
1625  122331                  2020-07-21
687   126466                  2020-07-05