In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spam .csv')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df['spam'] = df.Category.map({'spam':1, 'ham':0})

In [5]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
inputs = df.drop('Category', axis=1)

In [7]:
inputs

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5569  This is the 2nd time we have tried 2 contact u...     1
5570               Will ü b going to esplanade fr home?     0
5571  Pity, * was in mood for that. So...any other s...     0
5572  The guy did some bitching but I acted like i'd...     0
5573                         Rofl. Its true to its name     0

[5574 rows x 2 columns]

In [8]:
inputs.groupby(['spam']).describe()

     Message
       count unique                                                top freq
spam
0       4827   4518                             Sorry, I'll call later   30
1        747    641  Please call our customer service representativ...    4

In [9]:
y = inputs.spam
y.head(2)

0    0
1    0
Name: spam, dtype: int64

# train_test_split

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(inputs.Message, y, test_size=0.2)

In [12]:
X_train.shape

(4459,)

In [13]:
y_train.shape

(4459,)

# sklearn.feature_extraction.text import CountVectorizer

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [15]:
X_train_cnv = v.fit_transform(X_train.values)

In [16]:
X_train_cnv.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [17]:
X_train_cnv.shape

(4459, 7689)

In [18]:
X_test_cnv = v.transform(X_test.values)

In [19]:
X_test_cnv.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [20]:
X_test_cnv.shape

(1115, 7689)

In [21]:
y_test.shape

(1115,)

# MultinomialNB

In [22]:
from sklearn.naive_bayes import MultinomialNB

In [23]:
model_1 = MultinomialNB()
model_1.fit(X_train_cnv,y_train)

MultinomialNB()

In [26]:
model_1.score(X_test_cnv, y_test)

0.9829596412556054

In [24]:
model_1.predict(X_test_cnv)

array([0, 1, 0, ..., 0, 0, 0])

In [25]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model_1.predict(emails_count)

array([0, 1])

# sklearn pipeline

In [27]:
from sklearn.pipeline import Pipeline

In [38]:
pipe = Pipeline([('vector',CountVectorizer()),('nb', MultinomialNB())])

In [39]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('vector', CountVectorizer()), ('nb', MultinomialNB())])

In [40]:
pipe.score(X_test, y_test)

0.9829596412556054

In [41]:
pipe.predict(emails)

array([0, 1])

# wine dataset

In [43]:
from sklearn import datasets
wine = datasets.load_wine()

In [44]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [46]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [47]:
wine_df = pd.DataFrame(wine.data, columns=wine.feature_names)

In [48]:
wine_df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [49]:
wine_df['target'] = wine.target

In [50]:
wine_df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [53]:
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1 = train_test_split(wine.data, wine.target, test_size=0.2)

In [51]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB

In [55]:
pred_1 = GaussianNB()
pred_1.fit(X_train1, y_train1)
pred_1.score(X_test1, y_test1)

1.0

In [56]:
pred_2 = MultinomialNB()
pred_2.fit(X_train1, y_train1)
pred_2.score(X_test1, y_test1)

0.8888888888888888

In [57]:
from sklearn.model_selection import cross_val_score
cvs = cross_val_score(GaussianNB(),wine.data, wine.target, cv=5 )

In [58]:
cvs

array([0.94444444, 0.97222222, 0.97222222, 0.94285714, 1.        ])

In [59]:
cvs.mean()

0.9663492063492063