In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:
df['company'] = le.fit_transform(df.company)

In [5]:
df['job'] = le.fit_transform(df.job)
df['degree'] = le.fit_transform(df.degree)

In [6]:
df

    company  job  degree  salary_more_then_100k
0         2    2       0                      0
1         2    2       1                      0
2         2    0       0                      1
3         2    0       1                      1
4         2    1       0                      0
5         2    1       1                      1
6         0    2       1                      0
7         0    1       0                      0
8         0    0       0                      0
9         0    0       1                      1
10        1    2       0                      1
11        1    2       1                      1
12        1    0       0                      1
13        1    0       1                      1
14        1    1       0                      1
15        1    1       1                      1

In [8]:
x = df.drop('salary_more_then_100k', axis=1)
y = df['salary_more_then_100k']

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
dtc = DecisionTreeClassifier()
dtc.fit(x,y)

DecisionTreeClassifier()

In [11]:
dtc.predict([[2,1,0]])

array([0])

In [12]:
dtc.predict([[2,1,1]])

array([1])

# test